__pycache__
.metals
.vscode
.bloop
.DS_Store
.pytest_cache
cluster_config
build
dist
target
dist/*.whl
pyosolver/saves/discover
./src/main/python/reddit/reddit.egg-info
./src/main/python/reddit/reddit.egg-info/*
./src/main/python/reddit/reddit.egg-info/PKG-INFO
pyosolver.egg-info
reddit.egg-info
*.json
*.txt